// ---- ---- reset ---- ---- //
@import 'normalize.scss';
@import 'myreset.scss';

// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// ---- ---- colors ---- ---- //
$color_lightmain: #ffffff;
$color_accent: #490e84;
$color_bglight: #f5f5f7;
$color_bgdark: #574b63;
$color_link: #717171;
$color_main: #0a0a0a;

// ---- ---- main ---- ---- //
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $color_main;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  color: $color_lightmain;
  background-color: $color_accent;
  border-radius: 30px;
  padding: 22px 118px 19px;
}
.menu__btn {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  order: 1;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
  span {
    position: absolute;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $color_link;
    border-radius: 8px;
    transition: 0.3s;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 20px;
    }
    &:nth-child(3) {
      top: 20px;
    }
    &:nth-child(4) {
      top: 40px;
    }
  }
}
.menu-open .menu__btn {
  span {
    transform: scale(0);

    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
.menu-open .menu {
  transition: 0.3s;
  transform: translateY(0);
}

// ---- ---- all ---- ---- //
.header {
  background-color: $color_main;
  padding: 33px 0 32px;
  font-size: 24px;
  line-height: 29px;
  color: $color_link;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  &__item {
    padding-right: 30px;
  }
}
.logo {
  z-index: 100;
}
.phone {
  text-align: right;
  flex-grow: 1;
  flex-basis: 0;
  z-index: 100;
}
.headline {
  background-color: $color_bglight;
  text-align: center;
  padding: 70px 0 40px;
}
.title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  color: $color_accent;
  &__h2 {
    margin: 0 0 50px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: $color_link;
  }
}
.headline-img {
  max-width: 100%;
  margin-bottom: 25px;
}
.new {
  padding: 90px 0 150px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    max-width: 560px;
    margin: 0 0 30px;
  }
  &__text-bold {
    display: block;
    max-width: 560px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }
  &__img {
    margin-left: 25px;
  }
}
.color {
  padding-bottom: 150px;
  &_phone {
    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      margin: 0 0 10px;
    }
  }
  &__phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  &__img {
    margin-bottom: 20px;
  }
}
.contacts {
  &__inner {
    display: flex;
    color: $color_lightmain;
  }
  &__form {
    width: 100%;
    padding: 135px 80px;
    background-color: $color_bgdark;
    p {
      opacity: 0.5;
      margin: 30px 0;
      text-align: center;
    }
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 60px;
    color: $color_lightmain;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid $color_bglight;
    background: transparent;
    color: $color_lightmain;

    &::placeholder {
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: $color_lightmain;
      opacity: 0.5;
    }
  }
  &__btn {
    display: block;
    font-size: 14px;
    line-height: 19px;
    background-color: $color_lightmain;
    color: $color_accent;
    padding: 16px 81px;
    margin: 0 auto;
  }
  &__img {
    width: 580px;
    max-width: 100%;
  }
}
.footer {
  background-color: $color_main;
  color: $color_link;
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    flex-grow: 1;
    flex-basis: 0;
  }
  &__phone {
    font-size: 24px;
    line-height: 29px;
  }
}

// ---- ---- media ---- ---- //
@media (max-width: 1200px) {
  .contacts {
    background-color: $color_main;
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__form {
      padding: 120px 80px;
      margin-top: 15px;
    }
    &__input {
      margin: 0 auto;
      max-width: 600px;
    }
    &__img {
      width: 100%;
    }
  }
}
@media (max-width: 1050px) {
  .color {
    padding-bottom: 100px;

    &__phones {
      flex-wrap: wrap;
      justify-content: space-around;
      p {
        margin-bottom: 30px;
      }
    }
    &__img {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 870px) {
  .menu__btn {
    display: flex;
  }
  .menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color_main;
    transform: translateY(-110%);
    transition: 0.3s;
    font-size: 40px;

    &__item {
      padding-right: 0;
      margin-bottom: 60px;
    }
  }
  .header__phone {
    margin: 0 20px;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .new {
    padding: 50px 0 100px;
    &__box {
      display: flex;
      flex-direction: column;
    }
    &__text {
      max-width: 100%;
    }
    &__text-bold {
      max-width: 100%;
    }
    &__img {
      max-width: 100%;
    }
  }
  .contacts__title {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 40px;
  }
  .contacts__form {
    padding: 80px 40px;
  }
}
@media (max-width: 560px) {
  .title__h1 {
    font-size: 49px;
    line-height: 53px;
  }
  .title__h2 {
    font-size: 26px;
    line-height: 33px;
  }
  .contacts__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .footer {
    padding: 25px;
  }
  .footer__inner {
    flex-direction: column-reverse;
    a {
      margin-bottom: 15px;
    }
  }
}
@media (max-width: 400px) {
  .header__phone {
    display: none;
  }
  .title__h1 {
    font-size: 38px;
    line-height: 45px;
  }
  .headline-btn {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 80px 16px;
  }
  .contacts__btn {
    padding: 15px 60px;
    margin: 0 auto;
  }
  .contacts__form {
    padding: 50px 20px;
  }
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}
